/* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: calc(100vh - 50px);
}

.other {
  flex: 4;
}

body {
  background: #444;
  color: #eee;
}

.link {
  text-decoration: none;
  color: inherit;
}

.ReactModal__Overlay {
  z-index: 10000000 !important;
}

.MuiDrawer-paperAnchorRight {
  top: 65px !important;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: fit-content !important;
  overflow: auto;
  white-space: initial !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}   */


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: calc(100vh - 50px);
}

.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.MuiCardContent-root:last-child {
  padding-bottom: 5px !important;
}

.MuiCardContent-root {
  padding-top: 5px !important;
}

.MuiTypography-displayBlock {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.ReactModal__Overlay {
  z-index: 10000000 !important;
}

.MuiDrawer-paperAnchorRight {
  top: 65px !important;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: fit-content !important;
  overflow: auto;
  white-space: initial !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
} 

.show-more-text{
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.54);
}

.user-profile{
  border-width: 0.1px;
  /* border-style: solid; */
  border-color: lightgray;
  height: 80px !important;
  width: 80px !important;
}

.user-profile>img{
  border-radius: 10% !important;
}

.App-grow-13 {
  cursor: pointer;
}

.card-header-title {
  cursor: pointer;
}

.card-header-title>img{
  border-radius: 10% !important;
}